body {
  background-color: #2e382e;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

figure,
nav,
header,
img,
head,
figure,
main,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  border: 0;
}
/* css reset for needed elements */
header {
  background-image: url("../img/webdev.png");
  background-size: cover;
  width: 100vw;
}

footer{
  position: sticky;
  margin-bottom: 0;
}

a {
  color: #004ba8;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #2e0219;
  cursor: pointer;
}
.offset_right {
  display: flex;
  justify-content: end;
}

.profilepic {
  position: absolute;
  width: 12vw;
  left: 1vw;
  top: 1vw;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.fig{
  filter:drop-shadow(0.2vw 6px 3px rgba(0, 0, 0, 0.5));
}

.profilepic:hover{
  filter:  grayscale();
  cursor: pointer;
}

.name {
  text-align: center;
  margin-left: 14vw;
  margin-top: 3.5vw;
  color:#2e382e;
  text-shadow: 0.5rem 0.5rem 0.5rem #01050e;
}

.Importanttitle {
  margin-top: 0.1vw;
  margin-left: 14.5vw;
  text-shadow: 0.5rem 0.5rem 0.5rem #01050e;
  color:#516151
}
.name,
.Importanttitle {
  font-size: 3.3vw;
}

.navbar {
  font-size: 1.6vw;
  padding-top: 6.5vw;
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.linkbtn {
  padding-top: 0.55vw;
  padding-bottom: 0.55vw;
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  background-color: #828e82;
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 0%;
}

.linkbtn1l {
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 0.9vw;
  padding-right: 0.9vw;
  background-color: #828e82;
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 0%;
}
.linkbtn:hover, .linkbtn1l:hover{
background-color: #516151;
}

.sectionp,
.sectionTitle {
  display: flex;
  align-items: center;
  font-size: 2em;
  margin-left: 20%;
}

.sectionTitle {
  font-size: 3em;
}

.sectNtitle {
  margin-top: 5%;
}

.inpage{
  color: #2e0219;
  padding-top: 0.55vw;
  padding-bottom: 0.55vw;
  padding-left: 1.8vw;
  padding-right: 1.8vw;
  background-color: #2e382e;
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 0%;
}

.inpage1l{
  color: #2e0219;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  padding-left: 0.9vw;
  padding-right: 0.9vw;
  background-color: #2e382e;
  display: flex;
  align-self: center;
  text-align: center;
  margin-bottom: 0%;
}

.tab{
  display: flex;
  justify-content: space-evenly;
}

.skillbox{
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.skill:hover{
  position:relative;
	background-color: #819781;
}
.skill{
  background-color: #516151;
  padding: 0.5vw;
  width: 10vw;
  box-shadow: 1rem 1rem 0.5rem 1rem #131313;

}

.skillpic{
  width: 25%;
}
